body, html {
    height: 100%;
}

body {
    background-image: url("worldmap.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    /* padding: 80px; /* Padding */
    /*text-align: center; /* Text alignment */
    /*background: #7B68EE; /* Background colour */
    /*color: white; /* Text colour */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
    font-family: Helvetica;
    color: white;
}

.subcenter {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);

    font-size: 30px;
    font-family: Helvetica;
    color: white;
}

/* Top navigation bar */
.navbar {
    /*overflow: hidden; /* Hide overflow */
    /*background-color: #333; /* Dark background color */
}

/* Navigation bar links */
.navbar a {
    float: left; /* Ensuring links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}


/* Right-aligned link */
.navbar a.right {
    position: absolute;
    top: 8px;
    right: 16px;

    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

.navbar a.middle {
    position: absolute;
    top: 8px;
    left: 50%;

    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

.navbar a.left {
    position: absolute;
    top: 8px;
    left: 16px;

    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}

/* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

/* Responsive layout - when screen is less than 700px wide, the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when  screen is less than 400px wide,  the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer{
    text-align: center; /* Center text*/

    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%); */

    font-size: 20px;
    font-family: Helvetica;
    color: white;
}

with(document.getElementById("register").style) {
    left: 64px;
    top : 128px;
}

