
body {
    background-color: aliceblue;
    height: 100%;
}

h2 {
    font-family: Helvetica;
    color: darkslategray;

    border-bottom: solid;
    border-bottom-color: darkslategray;
    border-bottom-width: thin;
}

h3 {
    font-family: Helvetica;
    color: darkslategray;
}

p {
    font-family: Helvetica;
    color: darkslategray;
}

.headers {

    font-size: 15px;
    font-family: Helvetica;
    color: darkslategray;
}

.text {

    font-size: 15px;
    font-family: Helvetica;
    color: darkslategray;
}

.map {
    width: 400px;
    height: 400px;

}

.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 300px;
    margin: auto;
    text-align: center;

}


.description {
    color: grey;
    font-size: 18px;
}

form {
    font-family: Helvetica;
    color: darkslategray;
}

.signupform {
    font-family: Helvetica;
    color: darkslategray;
}
